{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindAttributes": [":ui", "ui"],
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "vueIndentScriptAndStyle": true,
  "htmlWhitespaceSensitivity": "ignore"
}
