@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --font-display: 'Aboreto', display;
  --font-sans: 'Josefin Sans', sans-serif;
  --font-mono: 'Space Mono', monospace;

  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;

  --color-cyan-50: #daf4f9;
  --color-cyan-100: #d6f3f8;
  --color-cyan-200: #ade7f1;
  --color-cyan-300: #84dceb;
  --color-cyan-400: #5bd0e4;
  --color-cyan-500: #32c4dd;
  --color-cyan-600: #289db1;
  --color-cyan-700: #1e7685;
  --color-cyan-800: #144e58;
  --color-cyan-900: #0a272c;
  --color-cyan-950: #092328;
}

body {
  @apply bg-accented flex size-full min-w-full justify-center space-y-2;
}

body main {
  @apply bg-sky-500!;
}
